#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-container{
  position: relative;
  height: 404px;
  max-width: 1312px;
  width: 1320px;
  border-radius: 17px;
  display: flex;
  padding-left: 100px;
  margin-left: 63px;
  background-color: #0C59B6;
}

.for-text-container{
  width: 627px;
  height: 259px;
  top: 261px;
  left: 161px;
}

.heading-one{
  font-weight: 700;
  color: #FFFFFF;
  width: 627px;
  height: 61px;
  top: 316px;
}

.heading-first{
  color: #191C1F;
  font-weight: 500;
  font-size: 14px;
}

.paragraph-first{
  color: #5F6C72;
  font-weight: 400;
  font-size: 14px;
}

.paragraph-two{
  font-weight: 600;
  font-size: 32px;
  width: 500px;
  color: #FFFFFF;
}

.swiper-button-next, .swiper-button-prev {
  background-color: #F3F9FB;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  color: black;
  margin-left: 18px;
  font-size: 1px;
}

.paragraph{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 29px;
  width: 600px;
  height: 39px;
  padding-top: 10px;
}

.img{
  position: absolute;
  width: 100px;
  height: 100px;
}

.section{
  max-width: 1638px;
  width: 1500px;
}

.under-img{
  background-color: #F5A914;
  color: #F5A914;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(-200px);
  margin-left: 200px; 
}

.on-img{
  background-color: #F5A914;
  width: 590px;
  height: 590px;
  border-radius: 50%;
  margin-left: 110px;
  transform: translateY(-400px);
  overflow: hidden;
}

.img-container{
  position: relative;
  background-color: #0C59B6;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: -500px;
}

.cards-wrapper {
  display: flex;
  background-color: #F4F4F4;
  gap: 180px;
  margin-left: 100px;
  cursor: pointer;
}

.card-image{
  width: 100px;
  height: 100px;
}

.card {
  background-color: #F4F4F4;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
}

.brand-container{
  display: flex;
  margin-left: 100px;
  gap: 90px;
}

.brand-card{
  margin-top: 100px;
  width: 168px;
  color: #F4F4F4;
  border-radius: 16px;
  padding-top: 100px;
  padding-left: 27px;
  height: 168px;
  background-color: aliceblue;
  cursor: pointer;
  
}
